.modal {
    position: fixed;
    z-index: 7;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s, opacity .2s;
}

.show {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 800px) {
    .content {
        width: 80%;
    }
}