* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap%27');

.tarjetas {
    padding: 40px;
    background-color: #dce1df;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    margin: 0px;
    background-color: #dce1df;
}

.tarjeta {
    height: 400px;
    width: 400px;
    background-color: white;
    margin: 7px;
}

.card-footer {
    height: 20%;
    width: 100%;
    padding-top: 10px;
}

.check {
    float: right;
    text-align: end;
    border: none;
    background: none;
    background-color: #0096a0;
    border-radius: 18px;
    width: 35px;
    height: 35px;
    margin-right: 11px;
    margin-top: 7px;
}

.footer-header {
    margin: 0px;
    margin-bottom: 5px;
    width: 220px;
    float: left;
    padding-left: 10px;
    padding-top: 4px;
    color: #4f588f;
    font-size: 20px;
}

.image-source {
    float: left;
    padding-left: 10px;
    padding-top: 9px;
    font-size: medium;
    color: #53626d;
}

.scroll-down {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.image-container:hover .overlay {
    opacity: 1;
}

.image-container {
    position: relative;
    width: 100%;
    height: 80%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.image-container:hover .image {
    transform: scale(1.2);
}

.image {
    transition: all.5s;
    display: block;
    height: 100%;
    width: 100%;
}

.button-overlay {
    border-color: transparent;
    background: none;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 20px;
    height: 36px;
    width: 200px;
    margin: 0;
    position: absolute;
    top: 47%;
    left: 25%;
}

.h3-overlay {
    color: white;
    text-align: center;
    margin-top: 4px;
    padding: 6px;
}
